/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Montserrat";
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgb(69, 0, 180) 100%
  );
  min-height: 100vh;
}

.container{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 40px;
}
.bmi {
  width: 45%;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  gap: 40px;
}
h2 {
  font-size: 30px;
  font-weight: 600;
}
.text {
  text-align: center;
}
#weight,
#height {
  color: #222f3e;
  text-align: left;
  font-size: 20px;
  font-weight: 200;
  outline: none;
  border: 1px solid black;
  border-radius: 7px;
  width: 200px;
  height: 35px;
}
#weight:focus,
#height:focus {
  width: 250px;
  transition: 0.5s;
}
#result {
  color: #341f97;
}
#btn {
  font-family: inherit;
  margin-top: 10px;
  border: none;
  color: #000;
  background: lightblue;
  width: 150px;
  padding: 10px;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}
#btn:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.chart{
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  width: 100%;
  max-width: 450px;
  border-collapse: collapse;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

tr {
  background: rgb(96, 218, 92);
}

th {
  background: #fff;
  color: #000;
  font-weight: bold;
}

td,
th {
  padding: 10px;
  border: 1px solid #000;
  text-align: center;
  font-size: 18px;
}

